<h1>Listing expandeds</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Content</th>
      <th>Position</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expandeds.each do |expanded| %>
      <tr>
        <td><%= expanded.identifier %></td>
        <td><%= expanded.content %></td>
        <td><%= expanded.position %></td>
        <td><%= expanded.parent %></td>
        <td><%= link_to 'Show', expanded %></td>
        <td><%= link_to 'Edit', edit_expanded_path(expanded) %></td>
        <td><%= link_to 'Destroy', expanded, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expanded', new_expanded_path %>
