<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @content.identifier %>
</p>

<p>
  <strong>Content:</strong>
  <%= @content.content %>
</p>

<p>
  <strong>Position:</strong>
  <%= @content.position %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @content.parent %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
