<h1>Listing sub_contents</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Content</th>
      <th>Position</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_contents.each do |sub_content| %>
      <tr>
        <td><%= sub_content.identifier %></td>
        <td><%= sub_content.content %></td>
        <td><%= sub_content.position %></td>
        <td><%= sub_content.parent %></td>
        <td><%= link_to 'Show', sub_content %></td>
        <td><%= link_to 'Edit', edit_sub_content_path(sub_content) %></td>
        <td><%= link_to 'Destroy', sub_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub content', new_sub_content_path %>
